.showHome {
  margin: 50px;
}

.articleImage {
  object-fit: cover;
}

.showHome__articleContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

.showHome__button {
  margin-bottom: 50px;
}

.showHome__gptArticleContainer {
  margin-top: 50px;
}
